:root {
    --cor-click: #126ae2; /* Cor de click */
    --cor-sombra: #EFECED; /* Azul escuro */
    --cor-text: black; /* Preto */
    --cor-back1: #EFECED; /* Azul claro */
    --cor-back2: #6a937a; /* Verde suave */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--cor-back1);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-sombra); /* Usando a cor do primeiro código */
    /*color: black;*/
    padding: 10px;
}

.icone-esquerda, .icone-direita {
    display: flex; /* Use flexbox para alinhar ícones e texto */
    align-items: center; /* Alinha ícones e texto verticalmente */
    font-size: 24px;
    color: var(--cor-click);
    cursor: pointer;
}

.titulo {
    font-size: 20px;
    color: var(--cor-click); /* Ajusta a cor do título para branco */
}

.menu {
    background-color: white;
    padding: 10px;
}

.menu-item {
    padding: 10px;
    background-color: var(--cor-sombra); /*cor das caixas */
    color: var(--cor-click);/*Cor do texto das caixas */
    margin-bottom: 5px;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px; /* Espaçamento entre ícone e texto */
    border-radius: 8px; /* Adiciona bordas arredondadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); /* Adiciona sombra ao item do menu */
}

.menu-item span.text {
    margin-left: 10px; /* Adiciona um espaçamento à esquerda do texto */
}

.imagem-menu {
    width: 100%; /* Ajusta a largura da imagem para ocupar toda a largura do menu */
    height: auto; /* Mantém a proporção da imagem */
    margin: 10px 0; /* Adiciona um espaço acima e abaixo da imagem */
    border-radius: 8px; /* Adiciona bordas arredondadas, se desejado */
}

.seta {
    justify-content: center; /* Centraliza o ícone de seta */
    font-size: 24px; /* Ajusta o tamanho do ícone */
    color: var(--cor-click); /* Ajusta a cor do ícone para a cor de click */
    cursor: pointer; /* Adiciona um cursor pointer ao passar o mouse */
}

#menu_aba, #profile_aba {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    background-color: var(--cor-back1); /* Mudei para a mesma cor de fundo da página */
    overflow-x: hidden;
    transition: 0.6s;
    z-index: 1;
}

#menu_aba {
    left: 0;
}

#profile_aba {
    right: 0;
}

#menu_bot, #profile_bot {
    padding: 20px;
    cursor: pointer;
    font-family: "Arimo", sans-serif;
    font-size: 14pt;
    color: var(--cor-click);
    display: block;
    /*Mexe na cor da fonte da aba*/
}

.close-btn {
    font-size: 18px;
    font-weight: bold;
    color: var(--cor-click);
    cursor: pointer;
    padding: 10px;
    display: block;
    text-align: right;
    /*Mexe na cor do ícone de fechar a barra lateral*/
}