* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    color: white;
    padding: 10px;
}

.icone-esquerda, .icone-direita {
    background-color: grey;
    padding: 10px;
    color: white;
}

.titulo {
    font-size: 20px;
}

.menu {
    background-color: black;
    padding: 10px;
    color: white;
}

.menu-item {
    padding: 10px;
    background-color: black;
    color: white;
    margin-bottom: 5px;
    font-size: 18px;
    display: flex;
    align-items: center;
}