:root {
    --cor-click: #126ae2; /* Cor de click */
    --cor-sombra: #0a599b; /* Azul escuro */
    --cor-text: black; /* Preto */
    --cor-back1: #edf2f4; /* Azul claro */
    --cor-back2: #6a937a; /* Verde suave */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--cor-back1);
    height: 100vh; /* Define a altura do body para 100% da viewport */
}

.container {
    width: 100vw; /* 100% da largura da viewport */
    height: 100vh; /* 100% da altura da viewport */
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Permite rolagem se o conteúdo exceder a altura da tela */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--cor-back1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

.menu-icon, .profile-icon {
    font-size: 24px;
}

/* Ícones Material Symbols */
.material-symbols-outlined {
    font-size: 24px;
    color: var(--cor-click);
}

.welcome {
    text-align: center;
    margin: 20px 0;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.option-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.classes {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.class-card {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    font-size: 16px;
    text-align: center;
}